html, body, header, main, section, footer, h1, h2, h3, h4, p, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    list-style: none;
    text-decoration: none;
}

body {
    padding: 70px 20px;
    background-color: #fdeed1;
    background: url(http://www.zingerbugimages.com/backgrounds/tan_bamboo_wallpaper_tileable.jpg) top left repeat;
    width: 100vw;
    font-family: Palatino, Helveltica, serif;
    color: #493e3b;
}

/*MAIN CONTENT*/
h1 {
    font-size: 20px;
    font-weight: bold;
    color: #2f3836;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

img {
    margin: 0 auto;
    display: block;
}

.pic-div, .greeting {
    margin: 10px;
}

.my-img {
    max-width: 300px;
}

/*NAVBAR*/
.navbar-inverse .navbar-brand {
    font-variant: small-caps;
    font-weight: bold;
    color: #b4c1c1;
    font-size: 28px;
}

.navbar-inverse .navbar-brand:hover {
    font-variant: small-caps;
    font-weight: bold;
    color: #b4c1c1;
    font-size: 28px;
}

.icon-bar {
    background-color: #fdeed1 !important;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 18px;
    color: #b4c1c1;
    text-shadow: none;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fdeed1;
}


#copyright {
    color: #777!important;
}
#copyright:hover {
    color: #777!important;
    text-decoration: none!important;
    cursor: default;
}
