/*html, body, header, section, footer, h1, h2, h3, h4, p, ol, ul, li, a {*/
  /*padding: 0;*/
  /*border: 0;*/
  /*margin: 0;*/
  /*font-size: 100%;*/
  /*font: inherit;*/
  /*list-style: none;*/
  /*text-decoration: none;*/
/*}*/

body {
	background-color: #fdeed1;
	/*background: url(../images/purple_gradient.jpg) no-repeat;*/
    background: url(http://www.zingerbugimages.com/backgrounds/tan_bamboo_wallpaper_tileable.jpg) top left repeat;
    /*background-size: 100% 100%;*/
	width: 75%;
    min-width: 900px;
    min-height: 1200px;
	margin: 20px auto 100px auto;
	font-family: Palatino, Helveltica, serif;
	color: #493e3b;
}

header {
	text-align: center;
	background: linear-gradient(to bottom, #493e3b, #70618c); 
    margin: auto 150px 30px 150px;
    box-shadow: 5px 10px 20px #220901;
    border-radius: 50px;
}

header p {
	color: #f1e7d8;
	text-shadow: .5px .5px #d3b17d;
	padding-bottom: 10px;
	font-size: 18px;
}

section {
	background: linear-gradient(to bottom, #f2be83, #fad8bb);
    box-shadow: 5px 10px 20px #220901;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

footer {
	background: linear-gradient(to bottom, #86aba5, #4d4b3a);
	box-shadow: 5px 10px 20px #220901;
    border-radius: 10px;
    padding: 5px;
	text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-style: italic;
}

footer p {
    color: #f1e7d8;
}

a {
	font-size: 22px;
	color: #7e9592;
	text-shadow: none;
}

a:hover { 
  color: #f2be83;
}

.job-date {
	font-style: italic;
	float: right;
	margin-right: 20px;
}

h1 {
	font-variant: small-caps;
	font-size: 52px;
	font-weight: bold;
	color: #2f3836;
	text-shadow: 1px 1px #7e9592;
	padding-top: 10px;
}

.nav-tabs {
    border-bottom: 1px solid #7e9592;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #7e9592;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #4d4b3a;
    background-color: #7e9592;
    border: 1px solid #7e9592;
    border-bottom-color: transparent;
}